@model E_Ticaret.Dtos.CategoryDtos.UpdateCategoryDto
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Kategori Güncelleme Sayfası</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Kategori Güncelleme </div>
                        </div>
                        <div class="card-body">
                            <input type="hidden" asp-for="CategoryID" />
                            <div class="form-group">
                                <label for="CategoryName">Kategori Adı</label>
                                <input type="text" class="form-control form-control-lg" asp-for="CategoryName" id="CategoryName" >
                            </div>
                        </div>
                        <div class="card-action">
                            <button type="submit" class="btn btn-primary">Kategoriyi Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>