@model CreateDiscountDto
@{
    ViewData["Title"] = "CreateDiscount";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">İndirimli Ürün İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni İndirim Ekleme Sayfası</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Title">Ürün Adını Giriniz</label>
                                <input type="text" class="form-control form-control-lg" asp-for="Title" id="Title" >
                            </div>
                            <div class="form-group">
                                <label for="Amount">Ürün İndirim Oranını Giriniz</label>
                                <input type="text" class="form-control form-control-lg" asp-for="Amount" id="Amount">
                            </div>
                            <div class="form-group">
                                <label for="ImageUrl">Ürün Görseli Giriniz</label>
                                <input type="text" class="form-control form-control-lg" asp-for="ImageUrl" id="ImageUrl">
                            </div>
                            <div class="form-group">
                                <label for="Description">Ürün Açıklaması Giriniz</label>
                                <input type="text" class="form-control form-control-lg" asp-for="Description" id="Description">
                            </div>
                        </div>
                        <div class="card-action">
                            <button type="submit" class="btn btn-primary">İndirimli Ürünü Ekle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>